Source: ymc-components
Section: web
Priority: optional
Build-Depends: debhelper (>= 7.0.15), cdbs
Maintainer: Thomas Koch <thomas.koch@ymc.ch>
Standards-Version: 3.8.3

Package: ymc-components
Depends: ${misc:Depends}
Architecture: all
Description: Common Infrastructure for all components
 some description..

Package: ymc-crawler
Depends: ${misc:Depends}, ymc-components
Architecture: all
Description: Diverse helpers to build crawlers
 some description..

Package: ymc-curl
Depends: ${misc:Depends}, ymc-components
Architecture: all
Description: Some helper classes for php-curl
 Provides a request, response and multihandle class.

Package: ymc-ezcaddons
Depends: ${misc:Depends}, ymc-components
Architecture: all
Description: Classes that adds additional functionality to eZ Components
 some description...

Package: ymc-htmlform
Depends: ${misc:Depends}, ymc-components
Architecture: all
Description: Component to support the validation of HTML forms.
 Everything can be overridden and addapted
 Forms are PHP classes
 Written in the style of eZ Components.

Package: ymc-longlive
Depends: ${misc:Depends}, ymc-components
Architecture: all
Description: Classes that helps to build long running background jobs in PHP
 some description...

Package: ymc-pipe
Depends: ${misc:Depends}, ymc-components
Architecture: all
Description: PHP based, graph oriented data manipulation framework
 Data can be manipulated by nodes of graph, where every node gets the 
 output of incoming nodes as input.

Package: ymc-jobqueue
Depends: ${misc:Depends}, ymc-components
Architecture: all
Description: Implements a simple work queue in PHP
